numpy
matplotlib==3.10.7
scipy
# scikit-learn
ipykernel
# pandas
# nb_mypy
plotly
# jupyterlab_mathjax2
# seaborn

ipywidgets
qiskit==2.3.0
qiskit-aer==0.17.2
qiskit-nature
# pillow
# pylatexenc
notebook
pyscf 
ipympl 
# pythreejs 
# widgetsnbextension

# VQE / IBM Quantum
qiskit-ibm-runtime
qiskit-serverless
qiskit-ibm-catalog
qiskit_algorithms
